@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: auto;
  scrollbar-color: #ff80bf #151417;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: theme("colors.white");
}

.dark *::-webkit-scrollbar-track {
  background: theme("colors.black");
}

*::-webkit-scrollbar-thumb {
  background-color: #ff80bf;
  border-radius: 10px;
  border: 10px solid #ff80bf;
}

@layer base {
  body {
    @apply bg-white dark:bg-black text-zinc-800 dark:text-zinc-300;
  }
}
